In [1]:
import pandas as pd
from util import datalake
from io import StringIO , BytesIO

import os

In [2]:
# Configurar as informações de conexão
storage_account_name = os.getenv('USER')
storage_account_key = os.getenv('KEY')
file_system_name = os.getenv('FS')

client = datalake.DataLake(storage_account_name, storage_account_key, file_system_name)

In [4]:
# create files in the blob storage
client.mkdir('raw_data')
client.mkdir('processed_data')
client.mkdir('processed_data/data')
client.mkdir('processed_data/tmp')
client.mkdir('integrated_data')
client.mkdir('integrated_data/merges/historical/')
client.mkdir('integrated_data/datasets')
client.list_files('')

In [4]:
file_list = client.list_files('processed_data/data')
file_list

['processed_data/data/BenefitsCostSharing',
 'processed_data/data/BenefitsCostSharing/BenefitsCostSharing_2014.parquet',
 'processed_data/data/BenefitsCostSharing/BenefitsCostSharing_2015.parquet',
 'processed_data/data/BenefitsCostSharing/BenefitsCostSharing_2016.parquet',
 'processed_data/data/BusinessRules',
 'processed_data/data/BusinessRules/BusinessRules_2014.parquet',
 'processed_data/data/BusinessRules/BusinessRules_2015.parquet',
 'processed_data/data/BusinessRules/BusinessRules_2016.parquet',
 'processed_data/data/Crosswalk2015',
 'processed_data/data/Crosswalk2015/Crosswalk2015_data.parquet',
 'processed_data/data/Crosswalk2016',
 'processed_data/data/Crosswalk2016/Crosswalk2016_data.parquet',
 'processed_data/data/Network',
 'processed_data/data/Network/Network_2014.parquet',
 'processed_data/data/Network/Network_2015.parquet',
 'processed_data/data/Network/Network_2016.parquet',
 'processed_data/data/PlanAttributes',
 'processed_data/data/PlanAttributes/PlanAttributes_2014.parquet',
 'processed_data/data/PlanAttributes/PlanAttributes_2015.parquet',
 'processed_data/data/PlanAttributes/PlanAttributes_2016.parquet',
 'processed_data/data/Rate',
 'processed_data/data/Rate/Rate_2014.parquet',
 'processed_data/data/Rate/Rate_2015.parquet',
 'processed_data/data/Rate/Rate_2016.parquet',
 'processed_data/data/ServiceArea',
 'processed_data/data/ServiceArea/ServiceArea_2014.parquet',
 'processed_data/data/ServiceArea/ServiceArea_2015.parquet',
 'processed_data/data/ServiceArea/ServiceArea_2016.parquet']

In [34]:
Smd.metadata

{'action': 'merge file create',
 'content_hash': '2016_Rate_PUF_2015-12-08.csv',
 'filename': 'Rate_PUF_2015-12-08.csv',
 'id': '15',
 'merge_date': '2023-6-17',
 'new_filename': 'Rate_2023-6-17.parquet',
 'pdsa_upload_date': '1687036221',
 'processed_data_format': 'parquet',
 'schema': 'Rate',
 'type': 'merge',
 'validation_date': '1687036221',
 'year': '2016'}

In [33]:
buffer, _, md = client.get_file('integrated_data/concat/', 'Rate.parquet')
df = pd.read_parquet(BytesIO(buffer))
df.head(5)

,RATE_BUSINESSYEAR,RATE_STATECODE,RATE_ISSUERID,RATE_SOURCENAME,RATE_VERSIONNUM,RATE_IMPORTDATE,RATE_ISSUERID2,RATE_FEDERALTIN,RATE_RATEEFFECTIVEDATE,RATE_RATEEXPIRATIONDATE,...,RATE_INDIVIDUALRATE,RATE_INDIVIDUALTOBACCORATE,RATE_COUPLE,RATE_PRIMARYSUBSCRIBERANDONEDEPENDENT,RATE_PRIMARYSUBSCRIBERANDTWODEPENDENTS,RATE_PRIMARYSUBSCRIBERANDTHREEORMOREDEPENDENTS,RATE_COUPLEANDONEDEPENDENT,RATE_COUPLEANDTWODEPENDENTS,RATE_COUPLEANDTHREEORMOREDEPENDENTS,RATE_ROWNUMBER
index,,,,,,,,,,,,,,,,,,,,,
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [23]:
tables['BenefitsCostSharing']

{'2016': 'BenefitsCostSharing_2016.parquet',
 '2015': 'BenefitsCostSharing_2015.parquet',
 '2014': 'BenefitsCostSharing_2014.parquet'}

In [20]:
tables = {
    "BenefitsCostSharing": {
        # 2016 removed two fields: 'IsSubjToDedTier2', 'IsSubjToDedTier1
        "2016": "BenefitsCostSharing_2016.parquet",
        "2015": "BenefitsCostSharing_2015.parquet",
        "2014": "BenefitsCostSharing_2014.parquet"
    },
    "BusinessRules": {
        # 2016 renamed DentalOnly => DentalOnlyPlan
        "2016": "BusinessRules_2016.parquet",
        "2015": "BusinessRules_2015.parquet",
        "2014": "BusinessRules_2014.parquet"
    },
    "Crosswalk2015": {
        "data": "Crosswalk2015_data.parquet"
    },
    "Crosswalk2016": {
        "data": "Crosswalk2016_data.parquet"
    },
    "Network": {
        # 2016 renamed DentalOnly => DentalOnlyPlan
        "2016": "Network_2016.parquet",
        "2015": "Network_2015.parquet",
        "2014": "Network_2014.parquet"
    },
    "PlanAttributes": {
        # This is complicated - lots of fields change b/t 2014/2015 & 2016
        "2016": "PlanAttributes_2016.parquet",
        "2015": "PlanAttributes_2015.parquet",
        "2014": "PlanAttributes_2014.parquet"
    },
    "Rate": {
        # 2016 same structure as 2015 and 2014
        "2016": "Rate_2016.parquet",
        "2015": "Rate_2015.parquet",
        "2014": "Rate_2014.parquet"
    },
    "ServiceArea": {
        # 2016 renamed DentalOnly => DentalOnlyPlan
        "2016": "ServiceArea_2016.parquet",
        "2015": "ServiceArea_2015.parquet",
        "2014": "ServiceArea_2014.parquet"
    }
}

In [18]:
pre_path = 'processed_data/data/'

In [35]:
buffer, _, metadata = client.get_file(pre_path + 'BenefitsCostSharing', 'BenefitsCostSharing_2016.parquet')
df = pd.read_parquet(BytesIO(buffer))
df.head(5)

,BENEFITSCOSTSHARING_BUSINESSYEAR,BENEFITSCOSTSHARING_STATECODE,BENEFITSCOSTSHARING_ISSUERID,BENEFITSCOSTSHARING_SOURCENAME,BENEFITSCOSTSHARING_VERSIONNUM,BENEFITSCOSTSHARING_IMPORTDATE,BENEFITSCOSTSHARING_ISSUERID2,BENEFITSCOSTSHARING_STATECODE2,BENEFITSCOSTSHARING_STANDARDCOMPONENTID,BENEFITSCOSTSHARING_PLANID,...,BENEFITSCOSTSHARING_QUANTLIMITONSVC,BENEFITSCOSTSHARING_LIMITQTY,BENEFITSCOSTSHARING_LIMITUNIT,BENEFITSCOSTSHARING_MINIMUMSTAY,BENEFITSCOSTSHARING_EXCLUSIONS,BENEFITSCOSTSHARING_EXPLANATION,BENEFITSCOSTSHARING_EHBVARREASON,BENEFITSCOSTSHARING_ISEXCLFROMINNMOOP,BENEFITSCOSTSHARING_ISEXCLFROMOONMOOP,BENEFITSCOSTSHARING_ROWNUMBER
0,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,AK,21989AK0030001,21989AK0030001-00,...,Yes,1000.0,Dollars per Year,NaN,None,Combined annual benefit maximum,Above EHB,No,No,68
1,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,AK,21989AK0030001,21989AK0030001-00,...,Yes,1.0,Visit(s) per 6 Months,NaN,None,None,Additional EHB Benefit,No,No,104
2,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,AK,21989AK0030001,21989AK0030001-00,...,None,NaN,None,NaN,None,None,Additional EHB Benefit,No,No,110
3,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,AK,21989AK0030001,21989AK0030001-00,...,None,NaN,None,NaN,None,24 month waiting period,Additional EHB Benefit,No,No,111
4,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,AK,21989AK0030001,21989AK0030001-00,...,None,NaN,None,NaN,None,None,Additional EHB Benefit,No,No,112

In [36]:
metadata.metadata

{'content_hash': '2016_Benefits_Cost_Sharing_PUF_2015-12-08.csv',
 'filename': 'Benefits_Cost_Sharing_PUF_2015-12-08.csv',
 'id': '1',
 'new_filename': 'BenefitsCostSharing_2016.parquet',
 'pdsa_upload_date': '1687036221',
 'processed_data_format': 'parquet',
 'schema': 'BenefitsCostSharing',
 'validation_date': '1687036221',
 'year': '2016'}

In [26]:
for table in tables:
    print(table)

BenefitsCostSharing
BusinessRules
Crosswalk2015
Crosswalk2016
Network
PlanAttributes
Rate
ServiceArea

In [27]:
for table in tables:
    print(table)

    if table[:9] != "Crosswalk":
        buffer, _, md = client.get_file(pre_path + table, tables[table]["2014"])
        d2014 = pd.read_parquet(BytesIO(buffer))
        buffer, _, md = client.get_file(pre_path + table, tables[table]["2015"])
        d2015 = pd.read_parquet(BytesIO(buffer))
        buffer, _, md = client.get_file(pre_path + table, tables[table]["2016"])
        d2016 = pd.read_parquet(BytesIO(buffer))
        md_file = md['metadata']


        if table in ["ServiceArea", "BusinessRules", "Network"]:
            d2015 = d2015.rename(columns={"DentalOnly":"DentalOnlyPlan"})
            d2014 = d2014.rename(columns={"DentalOnly":"DentalOnlyPlan"})

        if table=="BenefitsCostSharing":
            d2015 = d2015.rename(columns={"EHBPercentPremiumS4":"EHBPercentTotalPremium"})
            d2014 = d2014.rename(columns={"EHBPercentPremiumS4":"EHBPercentTotalPremium"})

        if table != "Crosswalk":
            data = pd.concat([d2014, d2015, d2016])
        else:
            data = pd.concat([d2015, d2016])
    else:
        buffer, _, md = client.get_file(pre_path + table, tables[table]["data"])
        d2014 = pd.read_parquet(BytesIO(buffer))
        md_file = md['metadata']

    print(md_file)

BenefitsCostSharing
{'content_hash': '2016_Benefits_Cost_Sharing_PUF_2015-12-08.csv', 'filename': 'Benefits_Cost_Sharing_PUF_2015-12-08.csv', 'id': '1', 'new_filename': 'BenefitsCostSharing_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'BenefitsCostSharing', 'validation_date': '1687036221', 'year': '2016'}
BusinessRules
{'content_hash': '2016_Business_Rules_PUF_2015-12-08.csv', 'filename': 'Business_Rules_PUF_2015-12-08.csv', 'id': '4', 'new_filename': 'BusinessRules_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'BusinessRules', 'validation_date': '1687036221', 'year': '2016'}
Crosswalk2015
{'content_hash': 'data_Plan_Crosswalk_PUF_2014-12-22.csv', 'filename': 'Plan_Crosswalk_PUF_2014-12-22.csv', 'id': '7', 'new_filename': 'Crosswalk2015_data.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'Crosswalk2015', 'validation_date': '1687036221', 'year': 'data'}
Crosswalk2016
{'content_hash': 'data_Plan_ID_Crosswalk_PUF_2015-12-07.CSV', 'filename': 'Plan_ID_Crosswalk_PUF_2015-12-07.CSV', 'id': '8', 'new_filename': 'Crosswalk2016_data.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'Crosswalk2016', 'validation_date': '1687036221', 'year': 'data'}
Network
{'content_hash': '2016_Network_PUF_2015-12-08.csv', 'filename': 'Network_PUF_2015-12-08.csv', 'id': '9', 'new_filename': 'Network_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'Network', 'validation_date': '1687036221', 'year': '2016'}
PlanAttributes
{'content_hash': '2016_Plan_Attributes_PUF_2015-12-08.csv', 'filename': 'Plan_Attributes_PUF_2015-12-08.csv', 'id': '12', 'new_filename': 'PlanAttributes_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'PlanAttributes', 'validation_date': '1687036221', 'year': '2016'}
Rate
{'content_hash': '2016_Rate_PUF_2015-12-08.csv', 'filename': 'Rate_PUF_2015-12-08.csv', 'id': '15', 'new_filename': 'Rate_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'Rate', 'validation_date': '1687036221', 'year': '2016'}
ServiceArea
{'content_hash': '2016_ServiceArea_PUF_2015-12-08.csv', 'filename': 'ServiceArea_PUF_2015-12-08.csv', 'id': '18', 'new_filename': 'ServiceArea_2016.parquet', 'pdsa_upload_date': '1687036221', 'processed_data_format': 'parquet', 'schema': 'ServiceArea', 'validation_date': '1687036221', 'year': '2016'}

## Delete files

In [9]:
for file in file_list:
    try:
        file_split = file.split('/')
        file_name = file_split[-1]
        file_path = caminho_base = '/'.join(file_split[:3])
        client.rm_file(file_path, file_name)
    except:
        print(file_split)

['processed_data', 'data']
['processed_data', 'data', 'BenefitsCostSharing']
['processed_data', 'data', 'BusinessRules']
['processed_data', 'data', 'Crosswalk2015']
['processed_data', 'data', 'Crosswalk2016']
['processed_data', 'data', 'Network']
['processed_data', 'data', 'PlanAttributes']
['processed_data', 'data', 'Rate']
['processed_data', 'data', 'ServiceArea']
['processed_data', 'tmp']

# postgreesql

In [23]:
import psycopg2
import psycopg2.extras as extras

In [29]:
conn = psycopg2.connect(
    host="127.0.0.1",
    port=5432,
    database='rflow',
    user="airflow",
    password="airflow"
)
cursor = conn.cursor()
# Executa uma consulta simples
cursor.execute("SELECT version()")

# Obtém o resultado da consulta
result = cursor.fetchone()
print("Conexão bem-sucedida!")
print("Versão do PostgreSQL:", result[0])

Conexão bem-sucedida!
Versão do PostgreSQL: PostgreSQL 13.11 (Debian 13.11-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit

In [35]:
client.list_files('integrated_data/')

['integrated_data/concat',
 'integrated_data/concat/BenefitsCostSharing.parquet',
 'integrated_data/concat/BusinessRules.parquet',
 'integrated_data/concat/Crosswalk2015.parquet',
 'integrated_data/concat/Crosswalk2016.parquet',
 'integrated_data/concat/Network.parquet',
 'integrated_data/concat/PlanAttributes.parquet',
 'integrated_data/concat/Rate.parquet',
 'integrated_data/concat/ServiceArea.parquet',
 'integrated_data/concat/historical',
 'integrated_data/concat/historical/BenefitsCostSharing_2023-6-17.parquet',
 'integrated_data/concat/historical/BenefitsCostSharing_2023-6-20.parquet',
 'integrated_data/concat/historical/BusinessRules_2023-6-17.parquet',
 'integrated_data/concat/historical/BusinessRules_2023-6-20.parquet',
 'integrated_data/concat/historical/Crosswalk2015_2023-6-17.parquet',
 'integrated_data/concat/historical/Crosswalk2015_2023-6-20.parquet',
 'integrated_data/concat/historical/Crosswalk2016_2023-6-17.parquet',
 'integrated_data/concat/historical/Crosswalk2016_2023-6-20.parquet',
 'integrated_data/concat/historical/Network_2023-6-17.parquet',
 'integrated_data/concat/historical/Network_2023-6-20.parquet',
 'integrated_data/concat/historical/PlanAttributes_2023-6-17.parquet',
 'integrated_data/concat/historical/PlanAttributes_2023-6-20.parquet',
 'integrated_data/concat/historical/Rate_2023-6-17.parquet',
 'integrated_data/concat/historical/Rate_2023-6-20.parquet',
 'integrated_data/concat/historical/ServiceArea_2023-6-17.parquet',
 'integrated_data/concat/historical/ServiceArea_2023-6-20.parquet',
 'integrated_data/concat/merge_rate_planattributes.parquet',
 'integrated_data/datasets',
 'integrated_data/merge',
 'integrated_data/merge/output',
 'integrated_data/merge/output/historical',
 'integrated_data/merge/output/historical/merge_rate_planattributes.parquet',
 'integrated_data/merge/output/merge_rate_planattributes.parquet',
 'integrated_data/merges',
 'integrated_data/merges/historical']

In [30]:
buffer, _, md = client.get_file('integrated_data/concat/', 'Rate.parquet')
df_rate = pd.read_parquet(BytesIO(buffer))
md_rate = md.metadata
md_rate

{'action': 'concat file create',
 'content_hash': '2016_Rate_PUF_2015-12-08.csv',
 'filename': 'Rate_PUF_2015-12-08.csv',
 'id': '15',
 'merge_date': '2023-6-20',
 'new_filename': 'Rate_2023-6-20.parquet',
 'pdsa_upload_date': '1687261607',
 'processed_data_format': 'parquet',
 'schema': 'Rate',
 'type': 'concat',
 'validation_date': '1687261607',
 'year': '2016'}

In [31]:
# Função para gerar o script de criação da tabela
def generate_create_table_script(df, table_name):
    create_table_script = f"CREATE TABLE {table_name} (\n"
    columns = df.columns

    for col in columns:
        dtype = df[col].dtype
        
        if dtype == 'int64':
            column_type = 'INT'
        elif dtype == 'float64':
            column_type = 'FLOAT'
        elif dtype == 'bool':
            column_type = 'BOOLEAN'
        elif dtype == 'object':
            column_type = 'TEXT'
        else:
            column_type = 'TEXT'

        create_table_script += f"    {col} {column_type},\n"

    create_table_script = create_table_script.rstrip(',\n') + "\n);"

    return create_table_script

# Nome da tabela desejada
table_name = 'rate'

# Geração do script de criação da tabela
create_table_script = generate_create_table_script(df_rate, table_name)

# Exibição do script gerado
print(create_table_script)

CREATE TABLE rate (
    RATE_BUSINESSYEAR INT,
    RATE_STATECODE TEXT,
    RATE_ISSUERID INT,
    RATE_SOURCENAME TEXT,
    RATE_VERSIONNUM INT,
    RATE_IMPORTDATE TEXT,
    RATE_ISSUERID2 INT,
    RATE_FEDERALTIN TEXT,
    RATE_RATEEFFECTIVEDATE TEXT,
    RATE_RATEEXPIRATIONDATE TEXT,
    RATE_PLANID TEXT,
    RATE_RATINGAREAID TEXT,
    RATE_TOBACCO TEXT,
    RATE_AGE TEXT,
    RATE_INDIVIDUALRATE FLOAT,
    RATE_INDIVIDUALTOBACCORATE FLOAT,
    RATE_COUPLE FLOAT,
    RATE_PRIMARYSUBSCRIBERANDONEDEPENDENT FLOAT,
    RATE_PRIMARYSUBSCRIBERANDTWODEPENDENTS FLOAT,
    RATE_PRIMARYSUBSCRIBERANDTHREEORMOREDEPENDENTS FLOAT,
    RATE_COUPLEANDONEDEPENDENT FLOAT,
    RATE_COUPLEANDTWODEPENDENTS FLOAT,
    RATE_COUPLEANDTHREEORMOREDEPENDENTS FLOAT,
    RATE_ROWNUMBER INT
);

In [32]:
def execute_create_table_script(script):
    try:
        # Conexão com o banco de dados
        cursor = conn.cursor()

        # Executa o script de criação da tabela
        cursor.execute(script)

        # Confirma as alterações no banco de dados
        conn.commit()

        # Fecha a conexão
        cursor.close()
        conn.close()

        print("Tabela criada com sucesso!")
    except (Exception, psycopg2.Error) as error:
        print("Erro ao criar a tabela:", error)

execute_create_table_script(create_table_script, )

Tabela criada com sucesso!

## Merge files

In [21]:
client.list_files('integrated_data/')

['integrated_data/concat',
 'integrated_data/concat/BenefitsCostSharing.parquet',
 'integrated_data/concat/BusinessRules.parquet',
 'integrated_data/concat/Crosswalk2015.parquet',
 'integrated_data/concat/Crosswalk2016.parquet',
 'integrated_data/concat/Network.parquet',
 'integrated_data/concat/PlanAttributes.parquet',
 'integrated_data/concat/Rate.parquet',
 'integrated_data/concat/ServiceArea.parquet',
 'integrated_data/concat/historical',
 'integrated_data/concat/historical/BenefitsCostSharing_2023-6-17.parquet',
 'integrated_data/concat/historical/BenefitsCostSharing_2023-6-20.parquet',
 'integrated_data/concat/historical/BusinessRules_2023-6-17.parquet',
 'integrated_data/concat/historical/BusinessRules_2023-6-20.parquet',
 'integrated_data/concat/historical/Crosswalk2015_2023-6-17.parquet',
 'integrated_data/concat/historical/Crosswalk2015_2023-6-20.parquet',
 'integrated_data/concat/historical/Crosswalk2016_2023-6-17.parquet',
 'integrated_data/concat/historical/Crosswalk2016_2023-6-20.parquet',
 'integrated_data/concat/historical/Network_2023-6-17.parquet',
 'integrated_data/concat/historical/Network_2023-6-20.parquet',
 'integrated_data/concat/historical/PlanAttributes_2023-6-17.parquet',
 'integrated_data/concat/historical/PlanAttributes_2023-6-20.parquet',
 'integrated_data/concat/historical/Rate_2023-6-17.parquet',
 'integrated_data/concat/historical/Rate_2023-6-20.parquet',
 'integrated_data/concat/historical/ServiceArea_2023-6-17.parquet',
 'integrated_data/concat/historical/ServiceArea_2023-6-20.parquet',
 'integrated_data/concat/merge_rate_planattributes.parquet',
 'integrated_data/datasets',
 'integrated_data/merge',
 'integrated_data/merge/output',
 'integrated_data/merge/output/historical',
 'integrated_data/merge/output/historical/merge_rate_planattributes.parquet',
 'integrated_data/merges',
 'integrated_data/merges/historical']

In [ ]:
'integrated_data/merge/output/'

In [6]:
buffer, _, md = client.get_file('integrated_data/concat/', 'Rate.parquet')
df_rate = pd.read_parquet(BytesIO(buffer))
md_rate = md.metadata
md_rate

{'action': 'merge file create',
 'content_hash': '2016_Rate_PUF_2015-12-08.csv',
 'filename': 'Rate_PUF_2015-12-08.csv',
 'id': '15',
 'merge_date': '2023-6-17',
 'new_filename': 'Rate_2023-6-17.parquet',
 'pdsa_upload_date': '1687036221',
 'processed_data_format': 'parquet',
 'schema': 'Rate',
 'type': 'merge',
 'validation_date': '1687036221',
 'year': '2016'}

In [7]:
df_rate.head(5)

,RATE_BUSINESSYEAR,RATE_STATECODE,RATE_ISSUERID,RATE_SOURCENAME,RATE_VERSIONNUM,RATE_IMPORTDATE,RATE_ISSUERID2,RATE_FEDERALTIN,RATE_RATEEFFECTIVEDATE,RATE_RATEEXPIRATIONDATE,...,RATE_INDIVIDUALRATE,RATE_INDIVIDUALTOBACCORATE,RATE_COUPLE,RATE_PRIMARYSUBSCRIBERANDONEDEPENDENT,RATE_PRIMARYSUBSCRIBERANDTWODEPENDENTS,RATE_PRIMARYSUBSCRIBERANDTHREEORMOREDEPENDENTS,RATE_COUPLEANDONEDEPENDENT,RATE_COUPLEANDTWODEPENDENTS,RATE_COUPLEANDTHREEORMOREDEPENDENTS,RATE_ROWNUMBER
index,,,,,,,,,,,,,,,,,,,,,
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [8]:
buffer, _, md = client.get_file('integrated_data/concat/', 'PlanAttributes.parquet')
df_plan = pd.read_parquet(BytesIO(buffer))
md_plan = md.metadata
md_plan

{'action': 'merge file create',
 'content_hash': '2016_Plan_Attributes_PUF_2015-12-08.csv',
 'filename': 'Plan_Attributes_PUF_2015-12-08.csv',
 'id': '12',
 'merge_date': '2023-6-17',
 'new_filename': 'PlanAttributes_2023-6-17.parquet',
 'pdsa_upload_date': '1687036221',
 'processed_data_format': 'parquet',
 'schema': 'PlanAttributes',
 'type': 'merge',
 'validation_date': '1687036221',
 'year': '2016'}

In [9]:
df_plan.head(5)

,PLANATTRIBUTES_BUSINESSYEAR,PLANATTRIBUTES_STATECODE,PLANATTRIBUTES_ISSUERID,PLANATTRIBUTES_SOURCENAME,PLANATTRIBUTES_VERSIONNUM,PLANATTRIBUTES_IMPORTDATE,PLANATTRIBUTES_BENEFITPACKAGEID,PLANATTRIBUTES_ISSUERID2,PLANATTRIBUTES_STATECODE2,PLANATTRIBUTES_MARKETCOVERAGE,...,PLANATTRIBUTES_DEHBDEDCOMBINNOONFAMILYPERPERSON,PLANATTRIBUTES_DEHBDEDCOMBINNOONFAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDINNTIER1FAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDINNTIER1FAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDINNTIER2FAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDINNTIER2FAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDOUTOFNETFAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDOUTOFNETFAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDCOMBINNOONFAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDCOMBINNOONFAMILYPERGROUP
index,,,,,,,,,,,,,,,,,,,,,
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,1,21989,AK,SHOP (Small Group),...,None,None,None,None,NaN,NaN,None,None,None,None
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,1,21989,AK,SHOP (Small Group),...,None,None,None,None,NaN,NaN,None,None,None,None
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,1,21989,AK,SHOP (Small Group),...,None,None,None,None,NaN,NaN,None,None,None,None
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,1,21989,AK,Individual,...,None,None,None,None,NaN,NaN,None,None,None,None
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,1,21989,AK,Individual,...,None,None,None,None,NaN,NaN,None,None,None,None

In [ ]:
df_plan['PLANATTRIBUTES_PLANID']

In [10]:
# Unindo os dataframes
merged_df = pd.merge(df_rate, df_plan, left_on=df_rate['RATE_PLANID'], right_on=df_plan['PLANATTRIBUTES_PLANID'].str[:14], how='inner')

In [12]:
# Filtrando os dados
filtered_df = merged_df[(merged_df['PLANATTRIBUTES_DENTALONLYPLAN'] == 'Yes') & (merged_df['RATE_INDIVIDUALRATE'] != 999999)]
filtered_df

,key_0,RATE_BUSINESSYEAR,RATE_STATECODE,RATE_ISSUERID,RATE_SOURCENAME,RATE_VERSIONNUM,RATE_IMPORTDATE,RATE_ISSUERID2,RATE_FEDERALTIN,RATE_RATEEFFECTIVEDATE,...,PLANATTRIBUTES_DEHBDEDCOMBINNOONFAMILYPERPERSON,PLANATTRIBUTES_DEHBDEDCOMBINNOONFAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDINNTIER1FAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDINNTIER1FAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDINNTIER2FAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDINNTIER2FAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDOUTOFNETFAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDOUTOFNETFAMILYPERGROUP,PLANATTRIBUTES_TEHBDEDCOMBINNOONFAMILYPERPERSON,PLANATTRIBUTES_TEHBDEDCOMBINNOONFAMILYPERGROUP
0,21989AK0010001,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
1,21989AK0010001,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
2,21989AK0010001,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
3,21989AK0010001,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
4,21989AK0010001,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13252,21989AK0070001,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,93-0438772,2016-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
13253,21989AK0070001,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,93-0438772,2016-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
13254,21989AK0070001,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,93-0438772,2016-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
13255,21989AK0070001,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,93-0438772,2016-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None
13256,21989AK0070001,2016,AK,21989,HIOS,4,2015-08-22 15:09:32,21989,93-0438772,2016-01-01,...,None,None,None,None,NaN,NaN,None,None,None,None

In [ ]:
filtered_df['RATE_STATECODE']
filtered_df['PLANATTRIBUTES_STATECODE']
filtered_df['indi']

In [17]:
# Calculando a média do individualrate por statecode e businessyear
grouped_df = filtered_df.groupby(['RATE_STATECODE', 'RATE_BUSINESSYEAR']).agg({'RATE_INDIVIDUALRATE': 'mean'}).reset_index()
grouped_df

  RATE_STATECODE  RATE_BUSINESSYEAR  RATE_INDIVIDUALRATE
0             AK               2014            29.258336
1             AK               2015            19.626890
2             AK               2016            36.722307

In [19]:
# Ordenando por statecode
sorted_df = grouped_df.sort_values('RATE_STATECODE')

In [20]:
print(sorted_df)

  RATE_STATECODE  RATE_BUSINESSYEAR  RATE_INDIVIDUALRATE
0             AK               2014            29.258336
1             AK               2015            19.626890
2             AK               2016            36.722307